In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
data = pd.read_csv('Train (1).csv')

In [ ]:
data

,Date,Stock,liabilities,equity,total_assets,current_assets,current_liabilities,total_revenue,net_income,dividend,shares_outstanding,price
0,2006-07-31,Stock 1,625.898686,925.086518,1550.985204,675.789905,555.931329,548.488451,251.282553,68.184030,1040831,100.000000
1,2006-08-31,Stock 1,407.387467,903.249093,1310.636561,1023.110983,1295.186240,513.446432,207.576940,42.232672,1046649,101.924169
2,2006-09-29,Stock 1,464.069891,602.668832,1066.738722,709.711673,598.719338,503.519871,133.719700,28.835722,1094158,103.166191
3,2006-10-31,Stock 1,855.854937,391.375369,1247.230306,649.979564,733.594339,596.006397,-76.881818,0.000000,1018574,104.478956
4,2006-11-30,Stock 1,453.954969,956.490566,1410.445534,1115.594551,1152.274711,965.939247,-309.204301,0.000000,1036293,104.160907
...,...,...,...,...,...,...,...,...,...,...,...,...
14995,2018-08-31,Stock 100,810.402398,953.465125,1763.867523,1014.718528,957.998121,675.953821,102.346000,21.785595,1016713,101.747952
14996,2018-09-28,Stock 100,811.620957,443.679899,1255.300856,392.059390,365.958118,815.913721,-301.200669,0.000000,1042638,102.039499
14997,2018-10-31,Stock 100,739.371050,423.172140,1162.543189,478.844995,396.603049,550.561664,227.299298,56.788344,1077825,101.126752
14998,2018-11-30,Stock 100,741.898496,286.891422,1028.789919,347.793349,358.229637,176.189978,19.405005,5.183536,1003161,102.020776
14999,2018-12-31,Stock 100,772.426342,538.766121,1311.192462,440.572996,493.849915,586.705439,260.221041,65.005348,1021927,102.594684

In [ ]:
data['D/E'] = data['liabilities'] / data['equity']
data['current_ratio'] = data['current_assets'] / data['current_liabilities']
data['profit_margin'] = data['net_income'] / data['total_revenue']
data['EPS'] = data['net_income'] / data['shares_outstanding']

In [ ]:
data

,Date,Stock,liabilities,equity,total_assets,current_assets,current_liabilities,total_revenue,net_income,dividend,shares_outstanding,price,D/E,current_ratio,profit_margin,EPS
0,2006-07-31,Stock 1,625.898686,925.086518,1550.985204,675.789905,555.931329,548.488451,251.282553,68.184030,1040831,100.000000,0.676584,1.215600,0.458136,0.000241
1,2006-08-31,Stock 1,407.387467,903.249093,1310.636561,1023.110983,1295.186240,513.446432,207.576940,42.232672,1046649,101.924169,0.451024,0.789933,0.404282,0.000198
2,2006-09-29,Stock 1,464.069891,602.668832,1066.738722,709.711673,598.719338,503.519871,133.719700,28.835722,1094158,103.166191,0.770025,1.185383,0.265570,0.000122
3,2006-10-31,Stock 1,855.854937,391.375369,1247.230306,649.979564,733.594339,596.006397,-76.881818,0.000000,1018574,104.478956,2.186788,0.886020,-0.128995,-0.000075
4,2006-11-30,Stock 1,453.954969,956.490566,1410.445534,1115.594551,1152.274711,965.939247,-309.204301,0.000000,1036293,104.160907,0.474605,0.968167,-0.320107,-0.000298
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,2018-08-31,Stock 100,810.402398,953.465125,1763.867523,1014.718528,957.998121,675.953821,102.346000,21.785595,1016713,101.747952,0.849955,1.059207,0.151410,0.000101
14996,2018-09-28,Stock 100,811.620957,443.679899,1255.300856,392.059390,365.958118,815.913721,-301.200669,0.000000,1042638,102.039499,1.829294,1.071323,-0.369157,-0.000289
14997,2018-10-31,Stock 100,739.371050,423.172140,1162.543189,478.844995,396.603049,550.561664,227.299298,56.788344,1077825,101.126752,1.747211,1.207366,0.412850,0.000211
14998,2018-11-30,Stock 100,741.898496,286.891422,1028.789919,347.793349,358.229637,176.189978,19.405005,5.183536,1003161,102.020776,2.585991,0.970867,0.110137,0.000019
14999,2018-12-31,Stock 100,772.426342,538.766121,1311.192462,440.572996,493.849915,586.705439,260.221041,65.005348,1021927,102.594684,1.433695,0.892119,0.443529,0.000255

In [ ]:
data = data.drop('Date', axis=1)
data = data.drop('Stock', axis=1)
data = data.drop('liabilities', axis=1)
data = data.drop('equity', axis=1)
data = data.drop('total_assets', axis=1)
data = data.drop('current_assets', axis=1)
data = data.drop('current_liabilities', axis=1)
data = data.drop('total_revenue', axis=1)
data = data.drop('net_income', axis=1)
data = data.drop('dividend', axis=1)
data = data.drop('shares_outstanding', axis=1)

In [ ]:
data

            price       D/E  current_ratio  profit_margin       EPS
0      100.000000  0.676584       1.215600       0.458136  0.000241
1      101.924169  0.451024       0.789933       0.404282  0.000198
2      103.166191  0.770025       1.185383       0.265570  0.000122
3      104.478956  2.186788       0.886020      -0.128995 -0.000075
4      104.160907  0.474605       0.968167      -0.320107 -0.000298
...           ...       ...            ...            ...       ...
14995  101.747952  0.849955       1.059207       0.151410  0.000101
14996  102.039499  1.829294       1.071323      -0.369157 -0.000289
14997  101.126752  1.747211       1.207366       0.412850  0.000211
14998  102.020776  2.585991       0.970867       0.110137  0.000019
14999  102.594684  1.433695       0.892119       0.443529  0.000255

[15000 rows x 5 columns]